In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [2]:
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Ejercicios ETL Parte I
  - En este caso trabajas en una empresa de venta al por menor de productos italianos y debes realizar la limpieza, transformación e integración de datos de ventas, productos y clientes para su análisis.
  - Los pasos que deberás seguir en este ejercicio son:

1. Lectura de la Información:
   - Leer los archivos CSV (ventas.csv, productos.csv, clientes.csv).
   - Explorar los conjuntos de datos para comprender su estructura, columnas, tipos de datos, etc.

2. Transformación de Datos:
   - Limpiar los datos: manejar valores nulos, eliminar duplicados si los hay, corregir errores tipográficos, etc.
   -Realizar la integración de datos: unir los conjuntos de datos apropiados para obtener una tabla única que contenga información de ventas junto con detalles de productos y clientes.
   - Aplicar transformaciones relevantes según sea necesario: por ejemplo, convertir tipos de datos, renombrar columnas, crear nuevas características derivadas, etc.

- NOTA Este ejercicio debe realizarse en un archivo .py

In [3]:
df_productos = pd.read_csv('5.2-productos.csv', index_col=0, on_bad_lines='skip')

In [4]:
with open('5.2-productos.csv', 'r') as file:
    for i, line in enumerate(file):
        print(f"Línea {i + 1}: {line}")
        if i >= 10:  # Muestra las primeras 10 líneas
            break

Línea 1: ID,Nombre_Producto,CategorÃ­a,Precio,Origen,DescripciÃ³n

Línea 2: A1,Pizza Margherita,Platos Preparados,8.99,Italia,ClÃ¡sica pizza italiana con tomate, mozzarella fresca y albahaca.

Línea 3: B2,Risotto de ChampiÃ±ones,Platos Preparados,6.75,Italia,Risotto cremoso con champiÃ±ones frescos, una delicia italiana para disfrutar en casa.

Línea 4: C3,TiramisÃº,Postres,5.49,Italia,Postre clÃ¡sico italiano con capas de bizcocho de cafÃ©, mascarpone y cacao en polvo.

Línea 5: D4,Panettone,ReposterÃ­a,10.99,Italia,Pan dulce navideÃ±o italiano con frutas confitadas y pasas, un regalo tradicional en Italia.

Línea 6: E5,Orecchiette,Productos Secos,4.29,Italia,PequeÃ±as pastas con forma de orecchiette ideales para salsas de tomate o pesto.

Línea 7: F6,Polenta Tradicional,Harinas,3.75,Italia,Harina de maÃ­z italiana para preparar la tradicional polenta, perfecta como acompaÃ±amiento.

Línea 8: G7,Mozzarella di Bufala,Productos LÃ¡cteos,9.25,Italia,Mozzarella fresca elaborada con leche de bÃºfala, suave y deliciosamente cremosa.

Línea 9: H8,Pesto Genovese,Salsas,5.99,Italia,Una salsa italiana de albahaca, piÃ±ones, queso parmesano y aceite de oliva, perfecta para pastas.

Línea 10: I9,Lasagna Bolognesa,Platos Preparados,7.49,Italia,ClÃ¡sica lasaÃ±a con salsa boloÃ±esa, bechamel y queso gratinado, lista para hornear.

Línea 11: J10,Arroz Arborio,Productos Secos,4.89,Italia,Arroz de grano corto perfecto para risottos italianos, absorbe los sabores de forma exquisita.

In [14]:
df_productos = pd.read_csv('productos.csv', index_col=0, delimiter=';')

In [6]:
df_ventas = pd.read_csv('5.1-ventas.csv', index_col=0)
df_clientes = pd.read_csv('5.3-clientes.csv', index_col=0)

In [8]:
df_clientes.head()

,first_name,last_name,email,gender,City,Country,Address
id,,,,,,,
1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction
3,Michaeline,Paynton,mpaynton2@narod.ru,Female,NaN,Spain,0 Corry Crossing
4,Filmer,Eirwin,feirwin3@intel.com,NaN,Leon,Spain,5 American Ash Road
5,Tanhya,Lubbock,tlubbock4@huffingtonpost.com,Female,"Hospitalet De Llobregat, L'",Spain,9289 Merry Circle

In [11]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   email       973 non-null    object
 3   gender      923 non-null    object
 4   City        876 non-null    object
 5   Country     846 non-null    object
 6   Address     959 non-null    object
dtypes: object(7)
memory usage: 62.5+ KB

In [9]:
df_ventas.head()

           ID_Producto Fecha_Venta  Cantidad  Total
ID_Cliente
723                 A1  2023-11-22         2  17.98
498                 C3  2023-11-21         1   5.49
121                 D4  2023-11-20         3  32.97
885                L12  2023-11-19         1   6.49
347                Q17  2023-11-18         2   7.98

In [12]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 723 to 987
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Producto  100 non-null    object
 1   Fecha_Venta  100 non-null    object
 2   Cantidad     100 non-null    int64
 3   Total        100 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

In [15]:
df_productos.head()

,Nombre_Producto,Categoría,Precio,Origen,Descripción
ID,,,,,
A1,Pizza Margherita,Platos Preparados,8.99,Italia,"Clásica pizza italiana con tomate,mozzarella f..."
B2,Risotto de Champiñones,Platos Preparados,6.75,Italia,"Risotto cremoso con champiñones frescos,una de..."
C3,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
D4,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
E5,Orecchiette,Productos Secos,4.29,Italia,Pequeñas pastas con forma de orecchiette ideal...

In [16]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, A1 to GG33
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre_Producto  33 non-null     object
 1   Categoría        33 non-null     object
 2   Precio           33 non-null     float64
 3   Origen           33 non-null     object
 4   Descripción      33 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.5+ KB