In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [2]:
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Ejercicios ETL Parte I
  - En este caso trabajas en una empresa de venta al por menor de productos italianos y debes realizar la limpieza, transformación e integración de datos de ventas, productos y clientes para su análisis.
  - Los pasos que deberás seguir en este ejercicio son:

1. Lectura de la Información:
   - Leer los archivos CSV (ventas.csv, productos.csv, clientes.csv).
   - Explorar los conjuntos de datos para comprender su estructura, columnas, tipos de datos, etc.

2. Transformación de Datos:
   - Limpiar los datos: manejar valores nulos, eliminar duplicados si los hay, corregir errores tipográficos, etc.
   -Realizar la integración de datos: unir los conjuntos de datos apropiados para obtener una tabla única que contenga información de ventas junto con detalles de productos y clientes.
   - Aplicar transformaciones relevantes según sea necesario: por ejemplo, convertir tipos de datos, renombrar columnas, crear nuevas características derivadas, etc.

- NOTA Este ejercicio debe realizarse en un archivo .py

In [3]:
df_productos = pd.read_csv('5.2-productos.csv', index_col=0, on_bad_lines='skip')

In [4]:
with open('5.2-productos.csv', 'r') as file:
    for i, line in enumerate(file):
        print(f"Línea {i + 1}: {line}")
        if i >= 10:  # Muestra las primeras 10 líneas
            break

Línea 1: ID,Nombre_Producto,CategorÃ­a,Precio,Origen,DescripciÃ³n

Línea 2: A1,Pizza Margherita,Platos Preparados,8.99,Italia,ClÃ¡sica pizza italiana con tomate, mozzarella fresca y albahaca.

Línea 3: B2,Risotto de ChampiÃ±ones,Platos Preparados,6.75,Italia,Risotto cremoso con champiÃ±ones frescos, una delicia italiana para disfrutar en casa.

Línea 4: C3,TiramisÃº,Postres,5.49,Italia,Postre clÃ¡sico italiano con capas de bizcocho de cafÃ©, mascarpone y cacao en polvo.

Línea 5: D4,Panettone,ReposterÃ­a,10.99,Italia,Pan dulce navideÃ±o italiano con frutas confitadas y pasas, un regalo tradicional en Italia.

Línea 6: E5,Orecchiette,Productos Secos,4.29,Italia,PequeÃ±as pastas con forma de orecchiette ideales para salsas de tomate o pesto.

Línea 7: F6,Polenta Tradicional,Harinas,3.75,Italia,Harina de maÃ­z italiana para preparar la tradicional polenta, perfecta como acompaÃ±amiento.

Línea 8: G7,Mozzarella di Bufala,Productos LÃ¡cteos,9.25,Italia,Mozzarella fresca elaborada con leche de bÃºfala, suave y deliciosamente cremosa.

Línea 9: H8,Pesto Genovese,Salsas,5.99,Italia,Una salsa italiana de albahaca, piÃ±ones, queso parmesano y aceite de oliva, perfecta para pastas.

Línea 10: I9,Lasagna Bolognesa,Platos Preparados,7.49,Italia,ClÃ¡sica lasaÃ±a con salsa boloÃ±esa, bechamel y queso gratinado, lista para hornear.

Línea 11: J10,Arroz Arborio,Productos Secos,4.89,Italia,Arroz de grano corto perfecto para risottos italianos, absorbe los sabores de forma exquisita.

In [5]:
df_productos = pd.read_csv('productos.csv', index_col=0, delimiter=';')

In [6]:
df_ventas = pd.read_csv('5.1-ventas.csv', index_col=0)
df_clientes = pd.read_csv('5.3-clientes.csv', index_col=0)

In [7]:
df_clientes.head()

,first_name,last_name,email,gender,City,Country,Address
id,,,,,,,
1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction
3,Michaeline,Paynton,mpaynton2@narod.ru,Female,NaN,Spain,0 Corry Crossing
4,Filmer,Eirwin,feirwin3@intel.com,NaN,Leon,Spain,5 American Ash Road
5,Tanhya,Lubbock,tlubbock4@huffingtonpost.com,Female,"Hospitalet De Llobregat, L'",Spain,9289 Merry Circle

In [8]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   email       973 non-null    object
 3   gender      923 non-null    object
 4   City        876 non-null    object
 5   Country     846 non-null    object
 6   Address     959 non-null    object
dtypes: object(7)
memory usage: 62.5+ KB

In [9]:
df_ventas.head()

           ID_Producto Fecha_Venta  Cantidad  Total
ID_Cliente
723                 A1  2023-11-22         2  17.98
498                 C3  2023-11-21         1   5.49
121                 D4  2023-11-20         3  32.97
885                L12  2023-11-19         1   6.49
347                Q17  2023-11-18         2   7.98

In [10]:
df_ventas = df_ventas.reset_index()

In [11]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Cliente   100 non-null    int64
 1   ID_Producto  100 non-null    object
 2   Fecha_Venta  100 non-null    object
 3   Cantidad     100 non-null    int64
 4   Total        100 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ KB

In [12]:
df_productos.head()

,Nombre_Producto,Categoría,Precio,Origen,Descripción
ID,,,,,
A1,Pizza Margherita,Platos Preparados,8.99,Italia,"Clásica pizza italiana con tomate,mozzarella f..."
B2,Risotto de Champiñones,Platos Preparados,6.75,Italia,"Risotto cremoso con champiñones frescos,una de..."
C3,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
D4,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
E5,Orecchiette,Productos Secos,4.29,Italia,Pequeñas pastas con forma de orecchiette ideal...

In [13]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, A1 to GG33
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre_Producto  33 non-null     object
 1   Categoría        33 non-null     object
 2   Precio           33 non-null     float64
 3   Origen           33 non-null     object
 4   Descripción      33 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.5+ KB

In [15]:
df_productos = df_productos.reset_index()
print(df_productos)

    index    ID                 Nombre_Producto             Categoría  Precio  \
0       0    A1                Pizza Margherita     Platos Preparados    8.99
1       1    B2          Risotto de Champiñones     Platos Preparados    6.75
2       2    C3                        Tiramisú               Postres    5.49
3       3    D4                       Panettone            Repostería   10.99
4       4    E5                     Orecchiette       Productos Secos    4.29
5       5    F6             Polenta Tradicional               Harinas    3.75
6       6    G7            Mozzarella di Bufala     Productos Lácteos    9.25
7       7    H8                  Pesto Genovese                Salsas    5.99
8       8    I9               Lasagna Bolognesa     Platos Preparados    7.49
9       9   J10                   Arroz Arborio       Productos Secos    4.89
10     10   K11                   Café Espresso                  Café    6.49
11     11   L12     Sardinas en Aceite de Oliva  Pescados en Conserva    3.99
12     12   M13                     Pesto Rosso                Salsas    4.75
13     13   N14               Gnocchi de Patata  Productos Congelados    5.25
14     14   O15  Ravioli de Ricotta y Espinacas  Productos Congelados    6.75
15     15   P16                        Caponata                Salsas    4.25
16     16   Q17                  Pasta de Trigo       Productos Secos    3.99
17     17   R18          Salsa de Tomate Casera                Salsas    2.49
18     18   S19    Aceite de Oliva Virgen Extra               Aceites    9.99
19     19   T20                 Queso Parmesano     Productos Lácteos    7.89
20     20   U21                  Salami Toscano             Embutidos    5.75
21     21   V22             Prosciutto di Parma             Embutidos   12.45
22     22   W23                 Gelato de Limón               Helados    4.25
23     23   X24                         Cannoli                Dulces    3.99
24     24   Y25                      Cacciatore             Embutidos    6.75
25     25   Z26                         Calzone                Pizzas    7.49
26     26  AA27           Caponata di Melanzane             Entrantes    4.89
27     27  BB28                     Cappelletti       Productos Secos    5.25
28     28  CC29                       Carbonara     Platos Preparados    8.75
29     29  DD30                Carciofi Ripieni              Verduras    6.99
30     30  EE31                      Casatiello            Repostería    9.45
31     31  FF32               Cassata Siciliana               Postres   10.99
32     32  GG33                   Ciceri e Tria     Platos Preparados    5.89

    Origen                                        Descripción
0   Italia  Clásica pizza italiana con tomate,mozzarella f...
1   Italia  Risotto cremoso con champiñones frescos,una de...
2   Italia  Postre clásico italiano con capas de bizcocho ...
3   Italia  Pan dulce navideño italiano con frutas confita...
4   Italia  Pequeñas pastas con forma de orecchiette ideal...
5   Italia  Harina de maíz italiana para preparar la tradi...
6   Italia  Mozzarella fresca elaborada con leche de búfal...
7   Italia  Una salsa italiana de albahaca,piñones,queso p...
8   Italia  Clásica lasaña con salsa boloñesa,bechamel y q...
9   Italia  Arroz de grano corto perfecto para risottos it...
10  Italia  Café espresso italiano con un aroma y sabor in...
11  Italia  Sardinas frescas en aceite de oliva,un bocado ...
12  Italia  Una variante italiana del pesto con tomates se...
13  Italia  Gnocchi de patata italiana,ideales con salsa d...
14  Italia  Raviolis rellenos de ricotta y espinacas fresc...
15  Italia  Una clásica caponata siciliana con berenjenas,...
16  Italia  Deliciosa pasta de trigo durum italiana,ideal ...
17  Italia  Elaborada con tomates italianos maduros,una re...
18  Italia  Aceite de oliva prensado en frío de las mejore...
19  Italia  El famoso queso italiano,madurado durante mese...
20  Italia  Salami de cerdo italiano curado con hierbas y ...
21  Italia  Delicioso jamón curado,famoso por su sabor y t...
22  Italia  Gelato italiano cremoso con sabor a limón fres...
23  Italia  Postre siciliano con masa crujiente rellena de...
24  Italia  Salchichas de cerdo condimentadas con hierbas ...
25  Italia  Pizza cerrada y horneada,rellena de queso,sals...
26  Italia  Entrante italiano con berenjenas,tomate,apio,a...
27  Italia  Pasta rellena parecida al ravioli,típica de la...
28  Italia  Pasta con salsa de huevo,queso,panceta y pimie...
29  Italia  Alcachofas rellenas con pan rallado,ajo,pereji...
30  Italia  Pan salado italiano con huevos,salami,queso y ...
31  Italia  Tarta siciliana con capas de bizcocho,ricotta,...
32  Italia  Plato de pasta tradicional de Apulia con garba...

In [16]:
df_productos.rename(columns={'ID': 'ID_Producto'}, inplace=True)

df_productos.head()

,index,ID_Producto,Nombre_Producto,Categoría,Precio,Origen,Descripción
0,0,A1,Pizza Margherita,Platos Preparados,8.99,Italia,"Clásica pizza italiana con tomate,mozzarella f..."
1,1,B2,Risotto de Champiñones,Platos Preparados,6.75,Italia,"Risotto cremoso con champiñones frescos,una de..."
2,2,C3,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
3,3,D4,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
4,4,E5,Orecchiette,Productos Secos,4.29,Italia,Pequeñas pastas con forma de orecchiette ideal...

In [17]:
df_ventas_productos = pd.merge(df_ventas, df_productos, on='ID_Producto', how='left')
df_ventas_productos.head()

,ID_Cliente,ID_Producto,Fecha_Venta,Cantidad,Total,index,Nombre_Producto,Categoría,Precio,Origen,Descripción
0,723,A1,2023-11-22,2,17.98,0.0,Pizza Margherita,Platos Preparados,8.99,Italia,"Clásica pizza italiana con tomate,mozzarella f..."
1,498,C3,2023-11-21,1,5.49,2.0,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
2,121,D4,2023-11-20,3,32.97,3.0,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
3,885,L12,2023-11-19,1,6.49,11.0,Sardinas en Aceite de Oliva,Pescados en Conserva,3.99,Italia,"Sardinas frescas en aceite de oliva,un bocado ..."
4,347,Q17,2023-11-18,2,7.98,16.0,Pasta de Trigo,Productos Secos,3.99,Italia,"Deliciosa pasta de trigo durum italiana,ideal ..."

In [20]:
df_clientes = df_clientes.reset_index()
df_clientes.head()

,id,first_name,last_name,email,gender,City,Country,Address
0,1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
1,2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction
2,3,Michaeline,Paynton,mpaynton2@narod.ru,Female,NaN,Spain,0 Corry Crossing
3,4,Filmer,Eirwin,feirwin3@intel.com,NaN,Leon,Spain,5 American Ash Road
4,5,Tanhya,Lubbock,tlubbock4@huffingtonpost.com,Female,"Hospitalet De Llobregat, L'",Spain,9289 Merry Circle

In [21]:
df_clientes.rename(columns={'id': 'ID_Cliente'}, inplace=True)
df_clientes.head()

,ID_Cliente,first_name,last_name,email,gender,City,Country,Address
0,1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
1,2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction
2,3,Michaeline,Paynton,mpaynton2@narod.ru,Female,NaN,Spain,0 Corry Crossing
3,4,Filmer,Eirwin,feirwin3@intel.com,NaN,Leon,Spain,5 American Ash Road
4,5,Tanhya,Lubbock,tlubbock4@huffingtonpost.com,Female,"Hospitalet De Llobregat, L'",Spain,9289 Merry Circle

In [23]:
df_total = pd.merge(df_ventas_productos, df_clientes, on='ID_Cliente', how='left')

df_total.head()

,ID_Cliente,ID_Producto,Fecha_Venta,Cantidad,Total,index,Nombre_Producto,Categoría,Precio,Origen,Descripción,first_name,last_name,email,gender,City,Country,Address
0,723,A1,2023-11-22,2,17.98,0.0,Pizza Margherita,Platos Preparados,8.99,Italia,"Clásica pizza italiana con tomate,mozzarella f...",Sephira,Bleackley,sbleackleyk2@liveinternet.ru,NaN,Girona,NaN,4 Birchwood Road
1,498,C3,2023-11-21,1,5.49,2.0,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...,Padgett,Painter,ppainterdt@scientificamerican.com,Male,Barcelona,Spain,5 Artisan Lane
2,121,D4,2023-11-20,3,32.97,3.0,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...,Wye,Sinncock,wsinncock3c@fc2.com,Male,Santander,NaN,4679 Fair Oaks Trail
3,885,L12,2023-11-19,1,6.49,11.0,Sardinas en Aceite de Oliva,Pescados en Conserva,3.99,Italia,"Sardinas frescas en aceite de oliva,un bocado ...",Windham,Badham,wbadhamok@wired.com,Male,"Hospitalet De Llobregat, L'",Spain,68 Nelson Junction
4,347,Q17,2023-11-18,2,7.98,16.0,Pasta de Trigo,Productos Secos,3.99,Italia,"Deliciosa pasta de trigo durum italiana,ideal ...",Egbert,Leborgne,eleborgne9m@reuters.com,Male,Sevilla,Spain,7 Quincy Way